<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>eMonitor - Gerar PDF</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo-white.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="/">
                                <i class="fas fa-tachometer-alt"></i>Menu Principal</a>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <a href="#">
                                    <img src="images/icon/logo-white.png" alt="CoolAdmin" />
                                </a>
                            </div>
                            <div class="header-button2">
                                <div class="header-button-item js-item-menu">
                                    <i class="zmdi zmdi-search"></i>
                                    <div class="search-dropdown js-dropdown">
                                        <form action="http://www.ufvjm.edu.br/">
                                            <input class="au-input au-input--full au-input--h65" type="text" placeholder="Search for datas &amp; reports..." />
                                            <span class="search-dropdown__icon">
                                                <i class="zmdi zmdi-search"></i>
                                            </span>
                                        </form>
                                    </div>
                                </div>
                                <div class="header-button-item mr-0 js-sidebar-btn">
                                    <i class="zmdi zmdi-menu"></i>
                                </div>
                                <div class="setting-menu js-right-sidebar d-none d-lg-block">
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </header>
            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                    <a href="#">
                        <img src="images/icon/logo-white.png" alt="Cool Admin" />
                    </a>
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        <div class="image img-cir img-120">
                            <img src="images/icon/avatar-big-01.jpg" alt="John Doe" />
                        </div>
                        <h4 class="name">john doe</h4>
                        <a href="#">Sign out</a>
                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="index.html">
                                            <i class="fas fa-tachometer-alt"></i>Dashboard 1</a>
                                    </li>
                                    <li>
                                        <a href="index2.html">
                                            <i class="fas fa-tachometer-alt"></i>Dashboard 2</a>
                                    </li>
                                    <li>
                                        <a href="index3.html">
                                            <i class="fas fa-tachometer-alt"></i>Dashboard 3</a>
                                    </li>
                                    <li>
                                        <a href="index4.html">
                                            <i class="fas fa-tachometer-alt"></i>Dashboard 4</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END HEADER DESKTOP-->

            <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span"></span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <li class="list-inline-item active">
                                                <a href="#">Home</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">Visualizar PDF de frequencia</li>
                                        </ul>
                                    </div>
                                    <button class="au-btn au-btn-icon au-btn--green" id="download_mpdf" name="download_mpdf">
                                        <i class="zmdi zmdi-plus"></i>Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <section>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6">
                                <!-- USER DATA-->
                                <div class="user-data m-b-40">
                                    <h3 class="title-3 m-b-30">
                                        <i class="zmdi zmdi-account-calendar"></i>LISTA DE FREQUENCIA</h3>
                                    <div class="filters m-b-45">
                                        <canvas id="the-canvas"></canvas>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>
    <script src="vendor/vector-map/jquery.vmap.js"></script>
    <script src="vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="vendor/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="vendor/vector-map/jquery.vmap.world.js"></script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

<script src="https://unpkg.com/pdf-lib/dist/pdf-lib.js"></script>

<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>


<script>
    let saveByteArray = (reportName, byte) => {
        var blob = new Blob([byte], {
            type: "application/pdf"
        });
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = reportName;
        link.click();
    };

    let PDFDocumentFactory = PDFLib.PDFDocumentFactory;
    let drawText = PDFLib.drawText;
    let StandardFonts = PDFLib.StandardFonts;
    let PDFDocumentWriter = PDFLib.PDFDocumentWriter;

    let pair = (x, y) => {
        let f = {fst : x, snd : y}
        return f;
    }
    let fst = x => x.fst
    let snd = y => y.snd

    let stream_s_pdf = (font, x) => {
        let s = pair([], [])
        for (let i = 0; i <= x.length - 1; i++) {
            fst(s)[i] = drawText(font.encodeText(x[i].matricula.toString()), {
                x: 425,
                y: 376 - (i * 15),
                size: 10,
                font: 'Helvetica',
                colorRgb: [0, 0, 0],
            })

            snd(s)[i] = drawText(font.encodeText(x[i].nome), {
                x: 86,
                y: 376 - (i * 15),
                size: 10,
                font: 'Helvetica',
                colorRgb: [0, 0, 0],
            })

        }

        return s
    }

    let g_pdf = (name, unit_academic, unit_curri, data, sup, st) => {
        fetch('/frequencia.pdf')
            .then(res => res.blob()) // Gets the response and returns it as a blob
            .then(blob => {
                new Response(blob).arrayBuffer().then(x => {
                    var uint8View = new Uint8Array(x);
                    const pdfDoc = PDFDocumentFactory.load(uint8View);
                    const [helveticaRef, helveticaFont] = pdfDoc.embedStandardFont(StandardFonts.Helvetica);
                    const page = pdfDoc.getPages()[0];
                    page.addFontDictionary('Helvetica', helveticaRef);
                    const contentStream = pdfDoc.createContentStream(
                        drawText(helveticaFont.encodeText(name), {
                            x: 144,
                            y: 566,
                            size: 10,
                            font: 'Helvetica',
                            colorRgb: [0, 0, 0],
                        }), drawText(helveticaFont.encodeText(unit_academic), {
                            x: 200,
                            y: 577,
                            size: 10,
                            font: 'Helvetica',
                            colorRgb: [0, 0, 0],
                        }),
                        drawText(helveticaFont.encodeText(unit_curri), {
                            x: 195,
                            y: 533,
                            size: 10,
                            font: 'Helvetica',
                            colorRgb: [0, 0, 0],
                        }),
                        drawText(helveticaFont.encodeText(data), {
                            x: 250,
                            y: 490,
                            size: 10,
                            font: 'Helvetica',
                            colorRgb: [0, 0, 0],
                        }),
                        drawText(helveticaFont.encodeText(sup), {
                            x: 199,
                            y: 544,
                            size: 10,
                            font: 'Helvetica',
                            colorRgb: [0, 0, 0],
                        })

                    );

                    page.addContentStreams(pdfDoc.register(contentStream));
                    page.addContentStreams(pdfDoc.register((pdfDoc.createContentStream).apply(this, fst(stream_s_pdf(helveticaFont, st)))));
                    page.addContentStreams(pdfDoc.register((pdfDoc.createContentStream).apply(this, snd(stream_s_pdf(helveticaFont, st)))));

                    let pdf = PDFDocumentWriter.saveToBytes(pdfDoc)
                    document.getElementById('download_mpdf').onclick = () => saveByteArray("lista de frequencia " + data, pdf)
                    let loadingTask = pdfjsLib.getDocument(pdf);
                    loadingTask.promise.then(function(pdf) {
                        pdf.getPage(1).then(function(page) {
                            var scale = 1.5;
                            var viewport = page.getViewport({
                                scale: scale
                            });
                            var canvas = document.getElementById('the-canvas');
                            var context = canvas.getContext('2d');
                            canvas.height = viewport.height;
                            canvas.width = viewport.width;
                            var renderTask = page.render({
                                canvasContext: context,
                                viewport: viewport
                            });
                            renderTask.promise.then(function() {});
                        });
                    });
                })
            })
    }
    let m = JSON.parse('<%-JSON.stringify(monitorias)%>')
    let user = JSON.parse('<%-JSON.stringify(user.info)%>')
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');
    let s = []
    let last_m = null

    for (let i = 0; i <= m.length - 1 && last_m == null; i++) {
        if (m[i]._id == id) {
            last_m = m[i]
            for (let j = 0; j <= m[i].alunos.length - 1; j++) {
                s.push(m[i].alunos[j])
            }
        }
    }

    g_pdf(user.nome, user.unidade_academica, user.unidade_curricular, last_m.dia, user.supervisor, s)
</script>

</html>
